<!-- =============== -->
<!-- Bookmark Wizard -->
<!-- =============== -->

<div class="modal-dialog" ng-controller="BookmarkFormCtrl">
    <div class="modal-content">
        <form role="form" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Ajouter un bookmark</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="url">URL</label>
                    <input id="url" name="url" type="url" placeholder="http://my.bookmark.com" ng-model="newBookmark.url" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" name="title" type="text" ng-model="newBookmark.title" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" rows="5" ng-model="newBookmark.description" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addBookmark()">Add bookmark</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

