<section class="view secondary-view bookmark-view">
    <header>
        <h2 class="lead">{{ bookmark.url }}</h2>
        <div class="btn-group actions">
            <button class="btn btn-default" ng-click="share()" title="Afficher les marques-page sous forme de liste">
                <span class="glyphicon glyphicon-share-alt"></span>
            </button>
            <button class="btn btn-default" ng-click="openOriginal()" title="Afficher les marques-page sous forme de cartes">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            <button class="btn btn-default" ng-click="updateBookmark()" >
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        </div>
    </header>
    <article>
        <div class="bookmark-meta">
            <div class="form-group">
                <label>URL</label>
                <input class="form-control" ng-model="editedBookmark.url">
            </div>
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" ng-model="editedBookmark.title">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="5" ng-model="editedBookmark.description"></textarea>
            </div>
        </div>
        <hr/>
        <div class="bookmark-data">
            <div class="bookmark-title"><h1>{{ editedBookmark.title }}</h1></div>
            <div class="bookmark-content" ng-bind-html="editedBookmark.content"></div>
        </div>
    </article>
</section>

