<form role="form" ng-submit="saveDocument()" ng-controller="DocumentEditorCtrl">
    <div class="header"></div>

    <ul class="tabs">
        <li class="tab active">Main information</li>
        <li class="tab">Reviews</li>
    </ul>

    <div class="form">
        <!-- Bookmark -->
        <div class="form-group">
            <input id="url" type="text" class="form-control" placeholder="URL"
                   ng-model="document.url" ng-show="isBookmark()">
        </div>

        <!-- Type -->
        <!--
        <div class="form-group">
            <select id="type" class="form-control"
                    ng-model="selectedType" ng-options="type.label for type in documentTypes"></select>
        </div>
        -->

        <!-- Title -->
        <!--
        <div class="form-group">
            <input id="title" type="title" class="form-control" placeholder="Title"
                   ng-model="document.title">
        </div>
        -->

        <!-- Description -->
        <!--
        <div class="form-group">
            <textarea id="description" class="form-control" rows="3" placeholder="Description"
                      ng-model="document.description" ng-show="isBookmark()"></textarea>
        </div>
        -->

        <!-- Note -->
        <div class="form-group">
            <textarea id="content" class="form-control" rows="10" placeholder="Content"
                      ng-model="document.content" ng-show="isNote()"></textarea>
        </div>
        <div>
            <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
            <input type="submit" class="btn btn-primary" value="Validate">
        </div>
    </div>
</form>
