<div id="app-sidebar" ng-controller="MenuCtrl" >

    <header id="app-logo">
        <a href="/"><img ng-src="images/logo.png"> Memento</a>
    </header>

    <nav id="app-nav">
        <ul class="nav-main">
            <li><a ng-href="/#/notes"><span class="glyphicon glyphicon-file"></span>Notes</a></li>
            <li><a ng-href="/#/bookmarks"><span class="glyphicon glyphicon-bookmark"></span>Bookmarks</a></li>
            <li><a ng-href="/#/search"><span class="glyphicon glyphicon-search"></span>Search</a></li>
            <li><a ng-href="/#/favorites"><span class="glyphicon glyphicon-star"></span>Favorites</a></li>
            <li><a ng-href="/#/tags"><span class="glyphicon glyphicon-tags"></span>Tags</a></li>
        </ul>
        <ul class="nav-bottom">
            <li><a ng-href="/#/settings"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
            <li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-off"></span>Log out</a></li>
        </ul>
    </nav>
</div>
